{##################################################

Purpose:
Generating BGP Unnumbered Underlay Configuration
###################################################}
ip routing ipv6 interfaces
!
{% for port in ports.fabric %}
interface eth{{ port }}
  no switchport
  no ip address
  no ipv6 address
  ipv6 enable
!
{% endfor %}
{% if mlag_bond is defined and mlag_bond %}
interface vlan{{ mlag_bond.vlan }}
 description {{ vlans.pair_vlan.desc }}
 no ip address
 no ipv6 address
 ipv6 enable
!
{% endif %}
router bgp {{ bgp.local_as }}
  router-id {{ lpbk_ulay.addr_v4 }}
  bgp default ipv4-unicast transport ipv6
  bgp default ipv6-unicast
  bgp bestpath as-path multipath-relax
  bgp log-neighbor-changes
  maximum-paths 4 ecmp 4
{% if bgp.afi.ipv4 is defined and bgp.afi.ipv4 %}
{% for redis in bgp.afi.ipv4 %}
{% if redis.r_map %}
  redistribute {{ redis.proto }} route-map {{ redis.r_map }}
{% else %}
  redistribute {{ redis.proto }}
{% endif %}
{% endfor %}
{% endif %}
  !
  neighbor fabric_peer_v4 peer group
{# neighbor fabric_peer_v4 advertisement-interval 5 #}
  neighbor fabric_peer_v4 timers 3 9
{# neighbor fabric_peer_v4 capability extended-nexthop #}
  neighbor fabric_peer_v4 bfd
  neighbor fabric_peer_v4 allowas-in
  neighbor fabric_peer_v4 maximum-routes 1200
  neighbor fabric_peer_v4 send-community standard extended
  !
  neighbor tor_peer_v4 peer group
{# neighbor tor_peer_v4 advertisement-interval 5 #}
  neighbor tor_peer_v4 timers 3 9
{# neighbor tor_peer_v4 capability extended-nexthop #}
  neighbor tor_peer_v4 bfd
  neighbor tor_peer_v4 allowas-in
  neighbor tor_peer_v4 send-community standard extended
  neighbor tor_peer_v4 remote-as {{ bgp.local_as }}
  neighbor tor_peer_v4 update-source Vlan{{ vlans.pair_vlan.id }}
  !
{% for port in ports.fabric %}
  neighbor interface eth{{ port }} peer-group fabric_peer_v4 peer-filter spine_asn_range
{% endfor %}
  !
{% if seq is even %}
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }} description "tor_pair_ibgp_v4"
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }} peer group tor_peer_v4
{% else %}
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }} description "tor_pair_ibgp_v4"
  neighbor {{ tor_pair_netv4 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }} peer group tor_peer_v4
{% endif %}
  !
  address-family ipv4
    bgp next-hop address-family ipv6
    neighbor fabric_peer_v4 activate
    neighbor fabric_peer_v4 next-hop address-family ipv6 originate
    neighbor tor_peer_v4 activate
    neighbor tor_peer_v4 next-hop address-family ipv6 originate
  !
  address-family ipv6
    neighbor fabric_peer_v4 activate
    neighbor tor_peer_v4 activate
  !
{% if bgp.flowspec.ipv4 is defined and bgp.flowspec.ipv4|lower == "enable" %}
  address-family flow-spec ipv4
    neighbor fabric_peer_v4 activate
    neighbor tor_peer_v4 activate
  !
{% endif %}
{% if bgp.flowspec.ipv6 is defined and bgp.flowspec.ipv6|lower == "enable" %}
  address-family flow-spec ipv6
    neighbor fabric_peer_v6 activate
    neighbor tor_peer_v6 activate
  !
{% endif %}
!


