{###########################################

Purpose:
Generating BGP EVPN Overlay Configuration
############################################}
{##################################################

Purpose:
Generating BGP Dual-Stack Underlay Configuration
###################################################}
router bgp {{ bgp.local_as }}
{% if vxlan is defined and vxlan %}
{% for vni in vxlans %}
  vlan {{ vni.vlan }}
    rd {{ lpbk_olay.addr_v4 }}:{{ vxlan_id_prx }}{{ vni.vlan }}
    route-target both {{ vxlan_id_prx }}{{ vni.vlan }}:{{ vxlan_id_prx }}{{ vni.vlan }}
  !
{% endfor %}
{% endif %}
  address-family evpn
    neighbor fabric_peer_v4 activate
    neighbor tor_peer_v4 activate
    neighbor sas_peer_v4 activate
  !
!
