{###########################################

Purpose:
Generating Scaled Static Routes Configuration
############################################}
{% set total_routes = 100 %}
{% for n in range( 1, total_routes+1 ) %}
ip route vrf vrf01-subnet {{ test_route_netv4 | ansible.utils.ipaddr(n) | ansible.utils.ipaddr('address') }}/32 Null0 tag 10101:10101
{% endfor %}
!
{% for n in range( 1, total_routes+1 ) %}
ipv6 route vrf vrf01-subnet {{ test_route_netv6 | ansible.utils.ipaddr(n) | ansible.utils.ipaddr('address') }}/128 Null0 tag 10101:10101
{% endfor %}
!
