{###########################################

Purpose:
Generating Vlan Interface Configuration
############################################}
{% set dummy_vlan_netv4 = "1.0.0.0/8" %}
{% set dummy_vlan_netv6 = "1001:1::/32" %}
{% set vlan_netmaskv4 = "29" %}
{% set vlan_netmaskv6 = "112" %}
{% set vlan_batch = 10 %}
{% set round = 10 %}
{% set vlan_scale_low = vlan_batch*round %}
{% set vlan_scale_high = vlan_batch*(round+1) %}
{% set vip_scale = 10 %}
{% set offset = 1001 %}
{#
  hardware access-list resource sharing vlan in
!
{% for n in range(1, vlan_scale+1 ) %}
vlan {{ offset+n }}
{% endfor %}
!
#}
{% for n in range(vlan_scale_low, vlan_scale_high) %}
vlan {{ offset+n }}
  name test_vlan_{{ offset+n }}
!
{% endfor %}
{% for n in range(vlan_scale_low, vlan_scale_high) %}
interface vlan{{ offset+n }}
  ipv6 enable
{% for m in range(0, vip_scale) %}
{% set vlan_netv4 = dummy_vlan_netv4|ipsubnet(16,m) %}
{% if m==0 %}
  ip address virtual {{vlan_netv4 | ipsubnet(vlan_netmaskv4, n) | ipaddr(1) }}
{% else %}
  ip address virtual {{ vlan_netv4 | ipsubnet(vlan_netmaskv4, n) | ipaddr(1) }} secondary
{% endif %}
{% endfor %}
{% for m in range(0, vip_scale) %}
{% set vlan_netv6 = dummy_vlan_netv6|ipsubnet(48,m) %}
  ipv6 address virtual {{ vlan_netv6 | ipsubnet(vlan_netmaskv6, n) | ipaddr(1) }}
{% endfor %}
!
{% endfor %}