{###########################################

Purpose:
Generating Interface Configuration
############################################}
{% for intf in fabric_links %}
interface ethernet{{ intf.name }}
 description "{{ intf.desc }}"
 no switchport
 ip address {{ intf.addr_v4 }}/{{ fabric_ptp_netmaskv4 }}
{% if intf.addr_v6 is defined and intf.addr_v6 %}
 ipv6 address {{ intf.addr_v6 }}/{{ fabric_ptp_netmaskv6 }}
{% endif %}
{# flowcontrol receive off
 no lldp tlv-select basic-tlv management-address ipv4
 no lldp tlv-select basic-tlv management-address ipv6
 fec off
 negotiation off #}
 mtu {{ phy_mtu }}
 no shutdown
!
{% endfor %}
