{###########################################

Purpose:
Generating Vlan Interface Configuration
############################################}
{% if sub_interfaces is defined and sub_interfaces %}
{% for port in sub_interfaces %}
interface Ethernet{{ port.phy_intf }}
  description {{ port.desc }}
  no switchport
!
{% for vlan in port.sub_vlans %}
{% set subintf_seq = 2*loop.index0+(seq-5) %}
interface Ethernet{{ port.phy_intf }}.{{ vlan.id }}
   description VLAN{{ vlan.id }} Te1-1 to Eth{{ port.phy_intf }}.{{ vlan.id }}:SW:{{ vlan.state }}
   encapsulation dot1q vlan {{ vlan.id }}
   ip address {{ subvlan_netv4|ipsubnet(subvlan_netmaskv4, subintf_seq) | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }}/{{ subvlan_netmaskv4 }}
   ip ospf dead-interval 3
   ip ospf hello-interval 1
   ip ospf network point-to-point
   pim ipv4 sparse-mode
   pim ipv4 hello interval 1
!
{% endfor %}
{% endfor %}
{% endif %}